{
  "semi": true,
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.jsx",
      "options": {
        "parser": "babel"
      }
    }
  ]
}
