name: Build
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
      - labeled
concurrency:
  group: ${{ github.ref }}-build
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
jobs:
  checks:
    name: Lint, format and unit test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
      - name: Use Nix Cache
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: gnosis-vpn-app
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        env:
          USER: runner
      - name: Run flake checks
        run: nix flake check
  build-binaries:
    strategy:
      matrix:
        binary:
          - architecture: universal-darwin
            runner: macos-15
          - architecture: aarch64-darwin
            runner: macos-15
          - architecture: x86_64-darwin
            runner: macos-15
          - architecture: x86_64-linux
            runner: ubuntu-22.04
          - architecture: aarch64-linux
            runner: ubuntu-22.04-arm
    name: Binary ${{ matrix.binary.architecture }}
    uses: ./.github/workflows/build-binaries.yaml
    with:
      branch: ${{ github.event.pull_request.head.ref }}
      architecture: ${{ matrix.binary.architecture }}
      runner: ${{ matrix.binary.runner }}
      version_type: "commit"
    secrets: inherit
