#################################################################################
# Pipeline to build binaries
#################################################################################
name: Create binaries
on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
      architecture:
        required: true
        type: string
      version_type:
        required: true
        type: string
      runner:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      architecture:
        type: choice
        options:
          - aarch64-darwin
          - x86_64-darwin
          - universal-darwin
          - x86_64-linux
          - aarch64-linux
        required: true
        description: "Architecture to build for"
      runner:
        type: choice
        options:
          - macos-15
          - macos-15-xlarge
          - macos-15-intel
          - ubuntu-22.04
          - ubuntu-22.04-arm
        required: true
        description: "Runner to use"
jobs:
  binary:
    if: >-
      github.event_name == 'workflow_dispatch' || (github.event_name == 'pull_request' && github.event.action != 'closed' && contains(github.event.pull_request.labels.*.name, format('binary:{0}', inputs.architecture))) || (github.event_name == 'pull_request' && github.event.pull_request.merged)
    runs-on: ${{ inputs.runner }}
    timeout-minutes: 90
    steps:
      - name: Set environment variables
        id: vars
        run: |
          declare branch architecture publish_type
          if [[ "${{ inputs.branch }}" != "" ]]; then
            echo "The workflow is triggered by other pipeline"
            # It can be triggered by the build, merge or release pipelines
            branch=${{ inputs.branch }}
            architecture=${{ inputs.architecture }}
          else
            echo "The workflow is triggered manually"
            branch=${{ github.ref_name }}
            architecture=${{ github.event.inputs.architecture }}
          fi
          if [[ "$architecture" =~ "-darwin" ]]; then
            architecture_apple_darwin="${architecture/-darwin/}-apple-darwin"
            rust_toolchain_target="${architecture_apple_darwin/universal-/x86_64-}"
            tauri_args="--target ${architecture_apple_darwin}"
          elif [[ "$architecture" == "aarch64-linux" ]]; then
            rust_toolchain_target="aarch64-unknown-linux-gnu"
            tauri_args="--bundles deb"
          else
            rust_toolchain_target="x86_64-unknown-linux-gnu"
            tauri_args="--bundles deb"
          fi

          echo "Invocation parameters:"
          echo "branch=${branch}" | tee -a $GITHUB_OUTPUT
          echo "architecture=${architecture}" | tee -a $GITHUB_OUTPUT
          echo "rust_toolchain_target=${rust_toolchain_target}" | tee -a $GITHUB_OUTPUT
          echo "tauri_args=${tauri_args}" | tee -a $GITHUB_OUTPUT
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: ${{ steps.vars.outputs.branch }}
      - name: Get PR labels
        id: pr-labels
        uses: joerick/pr-labels-action@0543b277721e852d821c6738d449f2f4dea03d5f # v1.0.9
      - name: Install Rust toolchain (stable) + targets
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ steps.vars.outputs.rust_toolchain_target }}
      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
      - name: Use Nix Cache
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: gnosis-vpn-app
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        env:
          USER: runner
      - name: Rust cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2
        with:
          workspaces: |
            ./src-tauri -> target
      - name: Setup Deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: v2.x
      - name: install ubuntu dependencies
        if: ${{ endsWith(steps.vars.outputs.architecture, '-linux') }}
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
      - name: Install frontend dependencies
        run: deno install
      - name: Get version
        id: version
        run: |
          base_version=$(grep -E '^version\s*=' src-tauri/Cargo.toml | awk -F\" '{print $2}')
          if [[ "${{ inputs.version_type }}" == "commit" ]]; then
            bump_version=${base_version}+commit.$(git rev-parse --short HEAD)
            echo "binary_version=${bump_version}" | tee -a $GITHUB_OUTPUT
            if [ "${GITHUB_PR_LABEL_PUBLISH_COMMITS:-0}" == '1' ]; then
              echo "publish_type=artifact-registry" | tee -a $GITHUB_OUTPUT
            else
              echo "publish_type=workflow" | tee -a $GITHUB_OUTPUT
            fi
          elif [[ "${{ inputs.version_type }}" == "pr" ]]; then
            bump_version=${base_version}+pr.${{ github.event.pull_request.number }}
            echo "binary_version=${bump_version}" | tee -a $GITHUB_OUTPUT
            echo "publish_type=artifact-registry" | tee -a $GITHUB_OUTPUT
          elif [[ "${{ inputs.version_type }}" == "release" ]]; then
            bump_version=${base_version}
            echo "binary_version=${bump_version}" | tee -a $GITHUB_OUTPUT
            echo "publish_type=github" | tee -a $GITHUB_OUTPUT
          else
            echo "Invoked with unknown version_type (workflow dispatch), defaulting to commit-based versioning"
            echo "binary_version=${base_version}-commit.$(git rev-parse --short HEAD)" | tee -a $GITHUB_OUTPUT
            echo "publish_type=workflow" | tee -a $GITHUB_OUTPUT
          fi
          sed -i.bak -E "s/(^version = \")([0-9]+\.[0-9]+\.[0-9]+)(\")/\1${bump_version}\3/" src-tauri/Cargo.toml
          rm src-tauri/Cargo.toml.bak

      - name: Import Apple Developer Certificate
        if: ${{ endsWith(steps.vars.outputs.architecture, '-darwin') }}
        id: certificate
        shell: bash
        env:
          APPLE_CERTIFICATE_DEVELOPER_P12_BASE64: ${{ secrets.APPLE_CERTIFICATE_DEVELOPER_P12_BASE64 }}
          APPLE_CERTIFICATE_DEVELOPER_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_DEVELOPER_PASSWORD }}
        run: |
          set -euo pipefail
          echo $APPLE_CERTIFICATE_DEVELOPER_P12_BASE64 | base64 --decode > gnosisvpn-developer.p12
          keychain_pass=$(openssl rand -base64 24)
          security create-keychain -p "$keychain_pass" build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p "$keychain_pass" build.keychain
          security set-keychain-settings -lut 21600 -u build.keychain
          security import gnosisvpn-developer.p12 -k build.keychain -P "$APPLE_CERTIFICATE_DEVELOPER_PASSWORD" -T /usr/bin/codesign
          echo "Certificate imported."
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k "$keychain_pass" build.keychain
          signing_identity=$(security find-identity -v -p codesigning build.keychain | awk -F'"' '{print $2}')
          echo "Apple signing identity: $signing_identity"
          echo "signing_identity=${signing_identity}" | tee -a $GITHUB_OUTPUT

      - name: Build tauri mac artifact
        if: ${{ endsWith(steps.vars.outputs.architecture, '-darwin') }}
        id: build-tauri-mac
        uses: tauri-apps/tauri-action@73fb865345c54760d875b94642314f8c0c894afa # v0.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APPLE_CERTIFICATE: ${{ secrets.APPLE_CERTIFICATE_DEVELOPER_P12_BASE64 }}
          APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_DEVELOPER_PASSWORD }}
          APPLE_SIGNING_IDENTITY: ${{ steps.certificate.outputs.signing_identity }}
        with:
          tauriScript: "deno task tauri"
          args: ${{ steps.vars.outputs.tauri_args }}

      - name: Build tauri linux artifact
        if: ${{ endsWith(steps.vars.outputs.architecture, '-linux') }}
        id: build-tauri-linux
        uses: tauri-apps/tauri-action@73fb865345c54760d875b94642314f8c0c894afa # v0.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tauriScript: "deno task tauri"
          args: ${{ steps.vars.outputs.tauri_args }}
      - name: Parsing artifact path
        id: path
        run: |
          if [[ "${{ steps.vars.outputs.architecture }}" =~ "-darwin" ]]; then
            echo "Filtering DMG artifact for architecture ${{ steps.vars.outputs.architecture }}"
            artifact_json='${{ steps.build-tauri-mac.outputs.artifactPaths }}'
            dmg_path=$(echo "$artifact_json" | jq -r '.[] | select(endswith(".dmg"))')
            mv "${dmg_path}" "gnosis_vpn-app-${{ steps.vars.outputs.architecture }}.dmg"
            echo "gnosisvpn_app_artifact_path=gnosis_vpn-app-${{ steps.vars.outputs.architecture }}.dmg" | tee -a $GITHUB_OUTPUT
          else
            echo "Filtering DEB artifact for architecture ${{ steps.vars.outputs.architecture }}"
            artifact_json='${{ steps.build-tauri-linux.outputs.artifactPaths }}'
            deb_path=$(echo "$artifact_json" | jq -r '.[] | select(endswith(".deb"))')
            mv "${deb_path}" "gnosis_vpn-app-${{ steps.vars.outputs.architecture }}.deb"
            echo "gnosisvpn_app_artifact_path=gnosis_vpn-app-${{ steps.vars.outputs.architecture }}.deb" | tee -a $GITHUB_OUTPUT
          fi
      - name: Setup GCP
        if: steps.version.outputs.publish_type == 'artifact-registry' || steps.version.outputs.publish_type == 'github'
        uses: hoprnet/hopr-workflows/actions/setup-gcp@setup-gcp-v1
        with:
          google_credentials: ${{ secrets.GCP_SA_GITHUB_ACTIONS }}
          install_sdk: "true"
      - name: Publish Artifact registry
        if: steps.version.outputs.publish_type == 'artifact-registry' || steps.version.outputs.publish_type == 'github'
        run: |
          gcloud artifacts generic upload --location=europe-west3 --repository="rust-binaries" --version=${{ steps.version.outputs.binary_version }} --package=gnosis_vpn-app --source=${{ steps.path.outputs.gnosisvpn_app_artifact_path }}
          if [[ "${{ inputs.version_type }}" == "release" ]]; then
             shasum -a 256 ${{ steps.path.outputs.gnosisvpn_app_artifact_path }} > ${{ steps.path.outputs.gnosisvpn_app_artifact_path }}.sha256
             gcloud artifacts generic upload --location=europe-west3 --repository="rust-binaries" --version=${{ steps.version.outputs.binary_version }} --package=gnosis_vpn-app --source=${{ steps.path.outputs.gnosisvpn_app_artifact_path }}.sha256
          fi
      - name: Upload ${{ steps.vars.outputs.architecture }} binaries
        if: steps.version.outputs.publish_type == 'workflow'
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ${{ steps.path.outputs.gnosisvpn_app_artifact_path }}
          path: ${{ steps.path.outputs.gnosisvpn_app_artifact_path }}
