name: Merge PR
on:
  pull_request:
    types:
      - closed
      # - synchronize
    branches:
      - main
concurrency:
  group: merge
  cancel-in-progress: false
jobs:
  build-binaries:
    strategy:
      matrix:
        binary:
          - architecture: universal-darwin
            runner: macos-15-xlarge
          - architecture: aarch64-darwin
            runner: macos-15
          - architecture: x86_64-darwin
            runner: macos-15-intel
          - architecture: x86_64-linux
            runner: ubuntu-22.04
          - architecture: aarch64-linux
            runner: ubuntu-22.04-arm
    name: Binary ${{ matrix.binary.architecture }}
    uses: ./.github/workflows/build-binaries.yaml
    with:
      branch: ${{ github.event.pull_request.base.ref }}
      architecture: ${{ matrix.binary.architecture }}
      runner: ${{ matrix.binary.runner }}
      version_type: "pr"
    secrets: inherit
